version: "3.9"

services:
  web:
    build: .
    command: python restaurant/manage.py runserver 0.0.0.0:8001
    volumes:
      - .:/opt/restaurant/src
    ports:
      - "8001:8001"
    depends_on:
      - tests
  tests:
    build: .
    command: python restaurant/manage.py test
    volumes:
      - .:/opt/restaurant/src
    depends_on:
      - migrations
  migrations:
    build: .
    command: python restaurant/manage.py migrate
    volumes:
      - .:/opt/restaurant/src